<div class="w3-bar-block sidebar-menu">
  <h2 class="h2 pt-3 ps-3">Organic Design</h2>
  <a href="/home" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'home'}}">Home</a>
  <a href="/div" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'div'}}">Div</a>
  <!-- <a href="/nav" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'nav'}}">Nav</a> -->
  <!-- <a href="/svg" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'svg'}}">SVG</a> -->
  <!-- <a href="/canvas" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'canvas'}}">Canvas</a> -->
  <!-- <h2 class="h2 pt-3 ps-3">Examples</h2> -->
  <!-- <a href="/templates" class="w3-bar-item w3-button {{'bg-primary text-white ' if page == 'templates'}}">Organic Design Templates</a> -->
</div>
