<!-- <a href="/home" class="w3-bar-item w3-button w3-padding-16 w3-hide-small">Home</a> -->
<!-- <a href="/div" class="w3-bar-item w3-button w3-padding-16 w3-hide-small">Tutorials</a> -->
<!-- <a href="/templates" class="w3-bar-item w3-button w3-padding-16 w3-hide-small">Templates</a> -->
<!-- <a href="/api/div" class="w3-bar-item w3-button w3-padding-16 w3-hide-small">API</a> -->
<!-- <a href="/demo" class="w3-bar-item w3-button w3-padding-16 w3-hide-small">API Live Demo</a> -->
<!-- <a href="https://github.com/organic-design-org/organic-design" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-github fs-large pe-2" aria-hidden="true"></i> GitHub</a> -->

<a href="/home" class="w3-bar-item w3-button w3-padding-16">Home</a>
<a href="/div" class="w3-bar-item w3-button w3-padding-16">Tutorials</a>
<!-- <a href="/templates" class="w3-bar-item w3-button w3-padding-16">Templates</a> -->
<a href="/api" class="w3-bar-item w3-button w3-padding-16">API</a>
<a href="/demo" class="w3-bar-item w3-button w3-padding-16">API Live Demo</a>
<a href="https://github.com/organic-design-org/organic-design" class="w3-bar-item w3-button w3-padding-16 w3-hide-small"><i class="fa fa-github fs-large pe-2" aria-hidden="true"></i> GitHub</a>