{% extends "page_template.html" %}

{% block content %}

<div class="col-8">
  <div class="container-fluid p-3">
    <h1 class="">{{title}}</h1>
    <div class="w3-bar mt-3">
      <a href="/" class="btn btn-primary btn-lg text-white">&#x276E; Home</a>
      <a href="/div" class="btn btn-primary btn-lg text-white w3-right">Next &#x276F;</a>
    </div>
    <div class="alert alert-secondary w3-border-0 mt-5">
        <h2 class="h2">Learn Organic Design</h2>
        <p>Organic Design is a way to create natural-looking elements for web design.</p>
        <a href="/div" class="btn btn-primary text-white py-2">Start learning Organic Design now &#x00BB;</a>
    </div>
    <hr>
    <div class="container">

    </div>
  </div>
</div>
<div class="col-2">

</div>

{% endblock %}