/*! Define custom colours */
@use '../utilities/colours' as *;

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.bg-primary,
.btn-primary,
.badge-primary,
.alert-primary {
    background-image: linear-gradient(to right, $custom-blue-dark, $custom-blue-light);
}