$custom-blue: #2196F3;
$custom-blue-dark: #0D6EFD;
$custom-blue-light: #2196F3;
$custom-dark: #282a35;
$custom-light: #b6dcfb;

// BS Colours
$bs-primary:       #0d6efd !default;
$bs-secondary:     #6c757d !default;
$bs-success:       #198754 !default;
$bs-info:          #0dcaf0 !default;
$bs-warning:       #ffc107 !default;
$bs-danger:        #dc3545 !default;
$bs-light:         #f8f9fa !default;
$bs-dark:          #212529 !default;

// W3.CSS Colours
$w3-light-grey:#f1f1f1 !default;