/* Error: Can't find stylesheet to import.
 *    ,
 * 8  | / @use '../assets/node_modules/bootstrap/scss/bootstrap' with (
 * 9  | |     $h1-font-size: 1.6rem,
 * 10 | |     $h2-font-size: 1.25rem,
 * 11 | |     $h3-font-size: 1.2rem,
 * 12 | |     $h4-font-size: 1.1rem,
 * 13 | |     $h5-font-size: 1rem,
 * 14 | |     $h6-font-size: 0.9rem,
 * 15 | |     $popover-max-width: 600px,
 * 16 | |     $primary: $custom-green,
 * 17 | |     $secondary: $custom-light,
 * 18 | |     $dark: $custom-dark
 * 19 | | );
 *    | '-^
 *    '
 *   scss\style.scss 8:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 8  \2502  \250c  @use '../assets/node_modules/bootstrap/scss/bootstrap' with (\a 9  \2502  \2502      $h1-font-size: 1.6rem,\a 10 \2502  \2502      $h2-font-size: 1.25rem,\a 11 \2502  \2502      $h3-font-size: 1.2rem,\a 12 \2502  \2502      $h4-font-size: 1.1rem,\a 13 \2502  \2502      $h5-font-size: 1rem,\a 14 \2502  \2502      $h6-font-size: 0.9rem,\a 15 \2502  \2502      $popover-max-width: 600px,\a 16 \2502  \2502      $primary: $custom-green,\a 17 \2502  \2502      $secondary: $custom-light,\a 18 \2502  \2502      $dark: $custom-dark\a 19 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   scss\\style.scss 8:1  root stylesheet";
}
