#orgDivContainerOuter {
  width: 970px; 
  height: 500px;
  overflow: hidden;
}
#orgDiv {
  width: 20px;
  height: 20px;
  float: left; 
  background-color: black;
}   

.content-container {
  display: flex;
}
.div-container {
    width:1000px;
    max-width:100%;
    margin: auto;
}

pre {
  tab-size: 3;
}

.code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  a {
    width: 250px;
  }

}