<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Design Div</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/changes.css')}}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS -->
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='./favicon/favicon.ico')}}">
</head>
<body>

    <!-- Include the top navigation bars -->
    {% include "parts/topnav.html" %}

    {% include 'parts/modal_msg.html' %}
    {% include 'parts/modal_confirm.html' %}

    <div class="page-container">
        <div class="w3-bar text-white bg-dark secondNav">
            <button class="w3-bar-item w3-button text-white w3-hide-large w3-padding-small" onclick="toggleDisplay('sidebar')">&#9776;</button>
            <a href="/home" class="w3-bar-item w3-button w3-hover-black ms-2 w3-padding-small">Organic Design v.0</a>
        </div>
        <div class="content-container">
            <div class="w3-light-grey w3-animate-left px-0 sidebar w3-bar-block w3-hide-small w3-hide-medium" id="sidebar">
                <!-- Include sidebar -->
                {% include "parts/sidenav.html" %}
            </div>        
            <!-- Block Content is the main content on pages -->
            {% block content %}
            {% endblock %}
        </div>       
    </div>

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

</body>
</html>